.left-side {
  height: 98vh;
  border-radius: 10px;
  background-color: #2c3333;
  color: #fff;
}

.avatar:hover {
  transform: rotate(-8deg);
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  -o-transform: rotate(-8deg);
}

.brand-title {
  font-size: 16px;
}

.brand-desc {
  font-size: 12px;
}

/* .left-side-link-group {

  border: 1px solid red;
} */

.left-side-link {
  list-style: none;
  font-size: 16px;
  margin: 8px 0 8px 0;
  padding: 10px;
  border-radius: 7px;
  cursor: pointer;
  transition: all ease .3s;
}

.content {
  border: 1px solid red;
  height: 98vh;
  border-radius: 10px;
}

/* .  promo-option {
  width: 100px;
} */

/* .title {
} */

/* .left-side-link {
  padding-right: ; */
/* } */

.btn-search {
  color: #fff;
  padding: 5px 10px;
  background-color: #2c3333;
  cursor: pointer;
  border-radius: 7px;
  transition: all ease .3s;
}

.btn-promo {
  background-color: #2c3333;
  text-decoration: none;
  color: #fff;
  padding: 10px;
  border-radius: 7px;
  transition: all ease .3s;
  cursor: pointer;
}

.btn-promo:hover,
.left-side-link:hover,
.btn-search:hover {
  /* color: #fff; */
  background-color: crimson;
}

.active {
  background-color: crimson;
}